.bullet-list {
  display: flex;
  flex-direction: column; }
  .bullet-list h2 {
    justify-content: center; }
    @media screen and (max-width: 767px) {
      .bullet-list h2 {
        text-align: center; } }
  .bullet-list ul {
    padding-top: 0;
    padding-right: 20px; }
    .bullet-list ul li {
      padding-top: 10px; }
