@import '../mediaqueries.scss';

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fc0f13;
  background-color: #2d2c2a;

  &--container {
    max-width: 700px;

    h1 {
      padding: 0 10px 0 10px;
    }

    .header-number {
      color: #ffffff;
      display: flex;
      justify-content: center;
    
      &:hover {
        color: #fc0f13;
      }
    }
  }
}

.link--background {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #2d2c2a;

  .link--container {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 40px 0;
    width:100%;
    max-width: 700px;
    text-align: center;

    @include mobile {        
      max-width: 80vw;
      flex-direction: column;
      align-items: center;
      margin: 20px 0 20px 0;
    }

    .link--menu {
      height: 25px;
      width: 35px;
      margin-bottom: 10px;
      display: none;

      @include mobile {
        display: block;
      }
    }

    .links {
      color: #ffffff;
      cursor: pointer;

      @include mobile {
        margin-bottom: 10px;
        &__closed {
          display: none;
        }
      }

      
      &__active {
        color: #fa0509;

        @include mobile {
          margin-bottom: 10px;
          &__closed {
            display: none;
          }
        }
      }
      
      &:hover {
        color: #fc0f13;
      }
    }
  }
}