.ImgSection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  background-color: #ffffff;

  &--Jamo {
    margin-top: 40px;
    max-width: 300px;
    width: 70%;
  }

  img {
    margin: 0 20px 0 20px;
    object-fit: scale-down;
  }
}