.install {
  display: flex;
  justify-content: space-between;
  
   &--img--container {
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
 
  &--img {
    width: 450px;
    height: 300px;
  }
 
  &----package-container {
    display: flex;
    flex-direction: column;
  }
 }