@import './mediaqueries.scss';

.install {
  display: flex;
  width: 100%;
  justify-content: space-evenly;


  @include mobile {
    flex-direction: column;
  }
  
  &--img--container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      width: 100%;
    }
  }
 
  &--img {
    width: 90%;
  }
 
  &--package-container {
    width: 50%;
    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
    }
  }
 }
