.install {
  display: flex;
  width: 100%;
  justify-content: space-evenly; }

@media screen and (max-width: 767px) {
  .install {
    flex-direction: column; } }

.install--img--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 767px) {
  .install--img--container {
    width: 100%; } }

.install--img {
  width: 90%; }

.install--package-container {
  width: 50%;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 767px) {
  .install--package-container {
    width: 100%; } }
