.install {
  display: flex;
  justify-content: space-between; }

.install--img--container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.install--img {
  width: 450px;
  height: 300px; }

.install----package-container {
  display: flex;
  flex-direction: column; }
