.home {
  display: flex;
  align-items: center;
  flex-direction: column; }

.home--title {
  color: #382c2c;
  font-size: 18px;
  max-width: 800px;
  text-align: center; }

.home section {
  text-align: center;
  padding: 20px; }

.home .bullet-list {
  margin: 30px 0 30px 0;
  width: 90%; }

.home .cert-img-container {
  display: flex;
  justify-content: center; }

.home .cert-img-container img {
  height: 100px;
  width: 100px;
  margin-right: 20px; }

.install {
  display: flex;
  width: 100%;
  justify-content: space-evenly; }

@media screen and (max-width: 767px) {
  .install {
    flex-direction: column; } }

.install--img--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 767px) {
  .install--img--container {
    width: 100%; } }

.install--img {
  width: 90%; }

.install--package-container {
  width: 50%;
  display: flex;
  flex-direction: column; }

@media screen and (max-width: 767px) {
  .install--package-container {
    width: 100%; } }

.stereo {
  display: flex;
  width: 100%;
  justify-content: space-evenly; }

@media screen and (max-width: 767px) {
  .stereo {
    flex-direction: column; } }

.stereo--img--container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media screen and (max-width: 767px) {
  .stereo--img--container {
    width: 100%; } }

.stereo--img {
  width: 90%;
  max-width: 340px;
  max-height: 440px; }

.stereo--package-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media screen and (max-width: 767px) {
  .stereo--package-container {
    width: 100%; } }

@media screen and (max-width: 767px) {
  .stereo--booking--container {
    text-align: center; } }

.contact-us h1 {
  color: black;
  text-align: left; }

.contact-us--header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

.contact-us--marker {
  background-image: url("../assets/marker.png");
  background-size: cover;
  height: 43px;
  width: 27px;
  margin-top: -43px; }

.tv-calibration--img {
  width: 80vw; }

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fc0f13;
  background-color: #2d2c2a; }

.header--container {
  max-width: 700px; }

.header--container h1 {
  padding: 0 10px 0 10px; }

.header--container .header-number {
  color: #ffffff;
  display: flex;
  justify-content: center; }

.header--container .header-number:hover {
  color: #fc0f13; }

.link--background {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #2d2c2a; }

.link--background .link--container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
  width: 100%;
  max-width: 700px;
  text-align: center; }

@media screen and (max-width: 767px) {
  .link--background .link--container {
    max-width: 80vw; } }

.link--background .link--container .links {
  color: #ffffff;
  cursor: pointer; }

@media screen and (max-width: 767px) {
  .link--background .link--container .links {
    font-size: 10px; } }

.link--background .link--container .links__active {
  color: #fa0509; }

@media screen and (max-width: 767px) {
  .link--background .link--container .links__active {
    font-size: 10px; } }

.link--background .link--container .links:hover {
  color: #fc0f13; }

.ImgSection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
  background-color: #ffffff; }

.ImgSection--Jamo {
  margin-top: 40px;
  max-width: 300px;
  width: 70%; }

.ImgSection img {
  margin: 0 20px 0 20px;
  object-fit: scale-down; }

.carousel--container {
  margin-top: 60px;
  max-width: 80vw; }

.carousel--container .carousel {
  display: flex;
  justify-content: center; }

.bullet-list {
  display: flex;
  flex-direction: column; }

.bullet-list h2 {
  justify-content: center; }

@media screen and (max-width: 767px) {
  .bullet-list h2 {
    text-align: center; } }

.bullet-list ul {
  padding-top: 0;
  padding-right: 20px; }

.bullet-list ul li {
  padding-top: 10px; }

body {
  margin: 0; }

h1, h2, h3, h4, h5, p, a, div {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; }

a {
  color: black;
  cursor: pointer; }

a:hover {
  color: #fc0f13; }

h1 {
  font-weight: 400;
  text-align: center; }

h1, h2, h3, h4, h5 {
  color: #fc0f13; }

.email {
  text-decoration: underline;
  color: black; }

.emphasize {
  color: #fc0f13;
  display: inline; }

.background {
  background-color: #2d2c2a;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px; }

.background .container {
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  padding-bottom: 40px; }

.background .container .logo-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
  background-image: url("./assets/iconnectLogo.jpeg");
  background-position: center center;
  background-size: cover; }

.background .container .logo-container .overlay {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  max-width: 600px; }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .background .container .logo-container .overlay {
    font-size: 40px; } }

@media screen and (max-width: 767px) {
  .background .container .logo-container .overlay {
    font-size: 30px; } }
